
      
body{  
  margin:0;            /* braket kheyli moham hast */
 color :rgba(0,0,0,0.8);
 font-family: 'Merriweather',serif;
}
img{
width: 100%;
}
article{
 max-width:740px;
 margin-left:auto;
 margin-right: auto;
}
h1{
  font-family:'lato',sans-serif;
  font-size: 40px;
  margin-top:80 px;
  margin-bottom: 5px;
  text-align: center;
}
h2{
  font-family: 'lato',sans-serif;
  color:rgb(0,0,0,0.44);
  font-size:27;
  margin-top:0;
  margin-bottom:22;
  font-weight:normal;
  text-align: center;
}
p{
font-size:21px;
margin-bottom:29px;
margin-top:0;
line-height:1.5;
}
a{
  font-weight: bold;
  color:rgb(0,0,0,0.8);
}